@{
    ViewData["Title"] = "ManageClerkDevices";
}
<link rel="stylesheet" type="text/css" href="DailyClerkPlan.css" media="screen" />
<h1>Manage Clerk Devices</h1>

<br>
<br>

<button id="add-device" name="addDevice" class="go"> <!-- green -->
  _Add Device
</button>

<button id="remove-device" name="removeDevice" class="stop"> <!-- red -->
  _Remove Device
</button>

<button id="exit-manage-clerk-devices" name="exit" class="calm"> <!-- blue -->
  @* E_xit *@
</button>
