<h1>Manage Clerk Devices</h1>

<br>
<br>

<button id="add-device" name="addDevice" class="Go"> <!-- green -->
  _Add Device
</button>

<button id="remove-device" name="removeDevice" class="Stop"> <!-- red -->
  _Remove Device
</button>

<button id="exit-manage-clerk-devices" name="exit" class="Calm"> <!-- blue -->
  E_xit
</button>
